Messenger.xcodeproj/._project.xcworkspace
Messenger/Controllers/._ConversationsViewController.swift
Messenger/Controllers/._LoginViewController.swift
Messenger/Controllers/._NewConversationViewController.swift
Messenger/Controllers/._PhotoViewerViewController.swift
Messenger/Controllers/._ProfileViewController.swift
Messenger/Controllers/._RegisterViewController.swift
Messenger/Controllers/._VideoPlayerViewController.swift
Messenger/Resources/._AppDelegate.swift
Messenger/Resources/._SceneDelegate.swift
Messenger/Views/Base.lproj/._LaunchScreen.storyboard
Messenger/Views/Base.lproj/._Main.storyboard
